
      <a 
      style="position:absolute;left:50px;top:5px;width:400px" target="_blank"><img style="border:none" src="images/iap7.jpg" height=214 width=800 /></a>		

<%= render :partial => 'welcome/cover' %>
<%= render :partial => 'welcome/js_stuff' %>


<%= render :partial => 'ec/position7' %>

<div><%= link_to '<p style="display:none;font-family:arial;font-size:30px;position:absolute;left:100px;top:120px">login coming soon.</p>', root_path %></div>

<%= render :partial => 'welcome/header' %>


<p><img style="display:none;position:absolute;left:470px;top:175px" src="images/1JPGC.jpg" height=20 width=220 /></p>



 </div>
 <div class="hpage_fill" style="display:none;position:absolute;left:50px;top:5px">
 </div>

<%= render :partial => 'welcome/disclaim' %>


