<div id="position16">

  <ul class="menu"> 

    <li><%= link_to '<img style="position:absolute;left:720px;top:230px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', ct_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>R E N E W A B L E &nbsp W I N D - P O W E R E D &nbsp E N E R G Y &nbsp G E N E R A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:800px;top:190px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', h_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>R E N E W A B L E &nbsp S O L A R - P O W E R E D &nbsp E N E R G Y &nbsp G E N E R A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:560px;top:210px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', re_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:-50px;top:115px;width:850px;color:#333300"><i>R E N E W A B L E &nbsp G E O T H E R M A L - P O W E R E D &nbsp E N E R G Y &nbsp G E N E R A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:350px;top:240px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', en_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:-50px;top:115px;width:850px;color:#333300"><i>R E N E W A B L E &nbsp H Y D R O - P O W E R E D &nbsp E N E R G Y &nbsp G E N E R A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:480px;top:190px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:-100px;top:115px;width:850px;color:#333300"><i>R E N E W A B L E &nbsp B I O G A S - P O W E R E D &nbsp E N E R G Y &nbsp G E N E R A T I O N</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:-120px;top:340px;width:500px">C O N C E P T</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:440px;top:370px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  
  
  <p><%= link_to '<img style="display:none;border:none;position:absolute;left:736px;top:94px" src="images/button-sp6.jpg" height=21 width=28 /></img>', root_path %></p>
  
  
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-5"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
 


