<%= render :partial => 'projects/header_proj' %>

<%= render :partial => 'worship' %>

<h1 style="display:none">Listing directories</h1>




 
 <div style="position:absolute;left:115px;top:1080px"><a style="font-family:arial;color:#333300;font-size:30px">r &nbsp e &nbsp s &nbsp o &nbsp u &nbsp r &nbsp c &nbsp e &nbsp s &nbsp :</a></div>
  
  
  
<%= link_to '<img style="position:absolute;left:310px;top:25px" src="images/portfolio/P1010287sr.jpg" height=80 width=80>', education_path %>
<%= link_to '<img style="position:absolute;left:410px;top:25px" src="images/portfolio/P1010300s.jpg" height=80 width=80>', church_path %>
<%= link_to '<img style="position:absolute;left:510px;top:25px" src="images/portfolio/P1010294sr.jpg" height=80 width=80>', commercial_path %>


<p style="font-family:arial;font-size:20px;color:#C0C0C0;position:absolute;left:130px;top:1150px">http://architectfinder.aia.org/</p>

    
    
