<div id="position8">
  <ul class="menu">

    <li><%= link_to '<img style="position:absolute;left:120px;top:100px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', h_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>D E T A I L E D &nbsp S I T E &nbsp U T I L I Z A T I O N &nbsp S T U D I E S</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:210px;top:190px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', ar_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>E C O N O M I C &nbsp F E A S A B I L I T Y &nbsp S T U D I E S</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:580px;top:110px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', tu_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>B I D D I N G &nbsp O R &nbsp N E G O T I A T I O N &nbsp C O O R D I N A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:420px;top:170px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>N A T I O N A L &nbsp I N S T I T I U T E &nbsp O F &nbsp B U I L D I N G &nbsp S C I E N C E S</i></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="display:none;position:absolute;left:790px;top:150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', value_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>A N A L Y S I S &nbsp O F &nbsp A L T E R N A T E S &nbsp / &nbsp S U B S T I T U T I O N S</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:51px;color:#C0C0C0;position:absolute;left:120px;top:260px;width:600px">C O M M I S S I O N I N G</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:-20px;top:310px;width:200px"><i>4 / 27 / 2011</i></p></em>
</li>     
 
  </ul>
  <p style="position:absolute;left:410px;top:480px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:416px;top:94px" src="images/button-s3re.jpg" height=21 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>