<div id="cover">
 
<head>
<style type="text/css">
<!--
A:link {text-decoration: none} A:visited {text-decoration: none}
A:active {text-decoration: none}
-->
</style>
</head>


 <ul class="menu">
 
    <td></td>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:90px;top:30px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', a_path %>
    <em><p align="left" style="font-family:arial;position:absolute;left:100px;top:110px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 1</i></p><p align="left" style="font-family:arial;position:absolute;left:130px;top:180px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 2</i></p><p align="left" style="font-family:arial;position:absolute;left:60px;top:220px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 3</i></p>
    <p align="left" style="font-family:arial;position:absolute;left:240px;top:310px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 4</i><p align="left" style="font-family:arial;position:absolute;left:130px;top:340px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 5</i></p></p><p align="left" style="font-family:arial;position:absolute;left:200px;top:250px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 6</i></p>
    <p align="left" style="font-family:arial;position:absolute;left:100px;top:280px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 7</i></p><p align="left" style="font-family:arial;position:absolute;left:100px;top:470px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 8</i></p><p align="left" style="font-family:arial;position:absolute;left:240px;top:440px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 9</i></p>
    <p align="left" style="font-family:arial;position:absolute;left:130px;top:500px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 10</i></p><p align="left" style="font-family:arial;position:absolute;left:240px;top:140px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 11</i></p><p align="left" style="font-family:arial;position:absolute;left:60px;top:50px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 12</i></p>
    <p align="left" style="font-family:arial;position:absolute;left:60px;top:370px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 13</i></p><p align="left" style="font-family:arial;position:absolute;left:200px;top:80px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 14</i></p><p align="left" style="font-family:arial;position:absolute;left:200px;top:410px;font-size:18px;width:850px;color:#333300"><i>GREEN CONSTRUCTION 15</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:90px;top:360px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', en_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR QUALITY WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:90px;top:200px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>OCTOBER 2011 - BIOARCHITECTURE,</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:90px;top:520px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', y_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR CONCEPT WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:160px;top:100px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR LOCATION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:160px;top:270px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', ct_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR EFFICIENCY WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:160px;top:430px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', rg_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR REMODELING WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:60px;top:130px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', h_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR INNOVATION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:60px;top:300px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', tu_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR DRAWING WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:60px;top:490px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', r_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR STRATEGY WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:20px;top:70px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', ar_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR FUNCTION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:20px;top:240px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', ec_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR INTEGRATION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:20px;top:390px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', ne_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR CERTIFICATION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:200px;top:160px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', i_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>OCTOBER 2011 - LIGHTING,</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:200px;top:330px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', e_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR DRAFTING WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:200px;top:460px;color:#99B280"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></ins>', re_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR PLACE WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

  </ul>


 <div class="header_fill" style="display:none;position:absolute;left:50px;top:480px">
 </div>



</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>