<div id="cover">

<head>
<style type="text/css">
<!--
A:link {text-decoration: none} A:visited {text-decoration: none}
A:active {text-decoration: none}
-->
</style>
</head>


 <ul class="menu">
 
    <td></td>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:105px;top:35px;color:#99B280">VALUE</ins>', a_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR VALUE WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:505px;top:35px;color:#99B280">QUALITY</ins>', en_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR QUALITY WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:295px;top:35px;color:#99B280">ECOLOGY</ins>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR ECOLOGY WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:672px;top:35px;color:#99B280">CONCEPT</ins>', y_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR CONCEPT WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:175px;top:-65px;color:#99B280">LOCATION</ins>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR LOCATION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:340px;top:-65px;color:#99B280">COMMISSIONING</ins>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR COMMISSIONING WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

    <li><%= link_to '<ins style="text-decoration:none;font-family:arial;font-size:20px;position:absolute;left:550px;top:-65px;color:#99B280">CONSTRUCTION</ins>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-10px;font-size:18px;width:850px;color:#333300"><i>CLICK FOR CONSTRUCTION WITH AN EMPHASIS ON IMPROVED BUILDING PERFORMANCE</i></p></em>
    </li>

  </ul>


 <div class="header_fill" style="position:absolute;left:50px;top:480px">
 </div>



</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>