<div style="position:absolute;left:90px;top:50px"><a style="color:black"><bold><font size="4">a r c h i t e c t u r e n e r g y</font></bold></a></div>
<div><%= link_to '<img style="border:none" src="images/SUB2.jpg"></img>', root_path %>
  
  </div>

   <div style="position:absolute;left:720px;top:170px"><a style="color:grey"><font size="1"><small>copyright &copy 2010 E. Downie &nbsp all rights reserved</small></font></a></div>
<div class="header">
  <table width="95%">
    <tr>
      <td><div style="display:none;position:absolute;left:-310px"><%= link_to '<font size="4"><a style="color:black"><bold>a r c h i t e c t u r e n e r g y</bold></a></font>', root_path %></div></td>
    <span style="display:none">WEBSITE:Cloudroid</span>
    <td><div id="tweets">   
      <%= @tweet.description %><br/>
      (<small><%= @tweet.tweeted_at %></small>)</div>
    </td>
    <td><i><a href="http://twitter.com/cloudalog" target="_blank">TWITTER</a></i></td>
    </tr>
  </table>
 </div>
 <div class="header_fill">
 </div>
      <table cellspacing="2" cellpadding="20">
        <tr>
        <!-- <td><a style="color:tan" href="http://www.architecturenergy.com/value">g r i d t e g r i t y</a></td>
        <td><div><a style="color:lightgreen" href="http://www.architecturenergy.com/architecture">a r c h i t e l l e c t</a></div></td>
        <td><div><a style="color:lightgrey" href="http://www.architecturenergy.com/ecology">h y b r i d &nbsp u t i l i t i e s</a></div></td>
        <td><div><a style="color:orange" href="http://www.architecturenergy.com/place">i n n o v a t i v e &nbsp c o m m u n i t i e s</a></div></td> -->
        </tr>
        <tr>
        <td><div id="val"><%= link_to 'g r i d t e g r i t y', value_path %></div></td>
        <td><div id="arc"><%= link_to 'a r c h i t e l l e c t', architecture_path %></div></td>
        <td><div id="eco"><%= link_to 'h y b r i d &nbsp u t i l i t i e s', ecology_path %></div></td>
        <td><div id="pla"><%= link_to 'i n n o v a t i v e &nbsp c o m m u n i t i e s', place_path %></div></td>
        </tr>
      </table>
</div>