<td><%= link_to '<img style="border:none" src="images/SUB2.jpg"></img>', root_path %></div></td>
   <!-- <td><%= link_to 'architecturenergy', :controller => 'sessions', :action => 'new' %></td> -->
   <div style="position:absolute;left:720px;top:120px"><a style="color:grey"><font size="1"><small>copyright &copy; 2010 Architellect all rights reserved</small></font></a></div>
<div class="header">
      <table width="95%">
        <tr>
          <td><div style="display:none;position:absolute;left:-310px"><%= link_to '<font size="4"><a style="color:black"><bold>a r c h i t e c t u r e n e r g y</bold></a></font>', root_path %></div></td>
            
          <span style="display:none">WEBSITE:Cloudroid</span>
          <td><div style="position:absolute;left:-312px;top:46px"><a style="color:black"><bold>a r c h i t e c t u r e n e r g y</bold></a></div></td>
          <td><div style="align:center;position:absolute;left:60px;top:90px;width;80px"><a style="color:tan">sustainable</a></div></td>
          <td><div style="position:absolute;left:220px;top:90px"><a style="color:lightgreen">design</a></div></td>
          <td><div style="position:absolute;left:325px;top:90px"><a style="color:lightgrey">perspective</a></div></td>
          <td><div style="position:absolute;left:430px;top:90px"><a style="color:orange" ></a></div></td>
          <td><div id="tweets">   
           <%= @tweet.description %><br/>
           (<small><%= @tweet.tweeted_at %></small>)

          
          
          
          <td><i><a href="http://twitter.com/cloudalog" target="_blank">TWITTER</a></i></td>
        </tr>
      </table>
      
      

</div>