

  </ul>
<table>
  <tr style="position:absolute">
    <td><p class="textswap1"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:124px;top:53px;color:#333300"><b>A</b></ins>', a_path %></a></p></td>
    <td><p class="textswap2"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:162px;top:53px;color:#333300"><b>R</b></ins>', ar_path %></a></p></td>
    <td><p class="textswap3"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:201px;top:53px;color:#333300"><b>C</b></ins>', rc_path %></a></p></td>
    <td><p class="textswap4"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:240px;top:53px;color:#333300"><b>H</b></ins>', h_path %></a></p></td>
    <td><p class="textswap5"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:283px;top:53px;color:#333300"><b>I</b></ins>', i_path %></a></p></td>
    <td><p class="textswap6"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:305px;top:53px;color:#333300"><b>T</b></ins>', te_path %></a></p></td>
    <td><p class="textswap6"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:340px;top:53px;color:#333300"><b>E</b></ins>', te_path %></a></p></td>
    <td><p class="textswap7"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:376px;top:53px;color:#333300"><b>C</b></ins>', ec_path %></a></p></td>
    <td><p class="textswap8"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:415px;top:53px;color:#333300"><b>T</b></ins>', ct_path %></a></p></td>
    <td><p class="textswap9"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:450px;top:53px;color:#333300"><b>U</b></ins>', tu_path %></a></p></td>
    <td><p class="textswap10"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:489px;top:53px;color:#333300"><b>R</b></ins>', re_path %></a></p></td>
    <td><p class="textswap11"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:528px;top:53px;color:#333300"><b>E</b></ins>', en_path %></a></p></td>
    <td><p class="textswap12"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:564px;top:53px;color:#333300"><b>N</b></ins>', ne_path %></a></p></td>
    <td><p class="textswap13"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:602px;top:53px;color:#333300"><b>E</b></ins>', e_path %></a></p></td>
    <td><p class="textswap14"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:640px;top:53px;color:#333300"><b>R</b></ins>', r_path %></a></p></td>
    <td><p class="textswap15"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:677px;top:53px;color:#333300"><b>G</b></ins>', rg_path %></a></p></td>
    <td><p class="textswap16"><a href="#"><%= link_to '<ins style="font-family:arial;font-size:40px;position:absolute;left:718px;top:53px;color:#333300"><b>Y</b></ins>', y_path %></a></p></td>
  </tr>
</table>

  <div
  style="position:absolute;left:40px;top:250px;width:800px" align="center">
<span id="span1" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#C2FFA3" COLS=25 ROWS=5 WRAP=HARD >VALUE</span>
<span id="span2" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#336600"><a style="color:#C2FFA3">FUNCTION</a></span>
<span id="span3" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#C2FFA3">LOCATION</span>
<span id="span4" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:110px;color:#336600"><a style="color:#C2FFA3">INNOVATION</a></span>
<span id="span5" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#C2FFA3">SYSTEMS</span>
<span id="span6" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#336600"><a style="color:#C2FFA3">ECOLOGY</a></span>
<span id="span7" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:90px;color:#C2FFA3">INTEGRATION</span>
<span id="span8" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:90px;color:#333300"><a style="color:#C2FFA3">COMMISSIONING</a></span>
<span id="span9" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#C2FFA3">DRAWING</span>
<span id="span10" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#333300"><a style="color:#C2FFA3">DRAFTING</a></span>
<span id="span11" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#C2FFA3">QUALITY</span>
<span id="span12" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:90px;color:#333300"><a style="color:#C2FFA3">CERTIFICATION</a></span>
<span id="span13" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:90px;color:#C2FFA3">CONSTRUCTION</span>
<span id="span14" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#8FBC8F"><a style="color:#C2FFA3">STRATEGY</a></span>
<span id="span15" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#C2FFA3">PLACE</span>
<span id="span16" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:140px;color:#333300"><a style="color:#C2FFA3">CONCEPT</a></span>
</div>
  <ul class="menu">




  <script>
  $(".menu a").click(function () {
    $("div#subposition1").delay(800).fadeIn("slow");
  });
  </script>
  
  <script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "10"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "1"}, "fast");
});
</script>