
  </ul>
<table>
  <tr style="position:absolute">
    <td><p class="textswap1"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:40px;top:80px" src="images/button.gif" height=10 width=120 />', a_path %></a></p></td>
    <td><p class="textswap2"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:160px;top:80px" src="images/button.gif" height=10 width=120 />', ar_path %></a></p></td>
    <td><p class="textswap3"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:200px;top:80px" src="images/button.gif" height=10 width=120 />', rc_path %></a></p></td>
    <td><p class="textswap4"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:240px;top:80px" src="images/button.gif" height=10 width=120 />', h_path %></a></p></td>
    <td><p class="textswap5"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:280px;top:80px" src="images/button.gif" height=10 width=120 />', i_path %></a></p></td>
    <td><p class="textswap6"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:320px;top:80px" src="images/button.gif" height=10 width=120 />', te_path %></a></p></td>
    <td><p class="textswap7"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:360px;top:80px" src="images/button.gif" height=10 width=120 />', ec_path %></a></p></td>
    <td><p class="textswap8"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:400px;top:80px" src="images/button.gif" height=10 width=120 />', ct_path %></a></p></td>
    <td><p class="textswap9"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:440px;top:80px" src="images/button.gif" height=10 width=120 />', tu_path %></a></p></td>
    <td><p class="textswap10"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:480px;top:80px" src="images/button.gif" height=10 width=120 />', re_path %></a></p></td>
    <td><p class="textswap11"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:520px;top:80px" src="images/button.gif" height=10 width=120 />', en_path %></a></p></td>
    <td><p class="textswap12"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:560px;top:80px" src="images/button.gif" height=10 width=120 />', ne_path %></a></p></td>
    <td><p class="textswap13"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:600px;top:80px" src="images/button.gif" height=10 width=120 />', e_path %></p></td>
    <td><p class="textswap14"><a href="#"><%= link_to '<img style="border:none;position:absolute;left:640px;top:80px" src="images/button.gif" height=10 width=120 />', r_path %></a></p></td>
    <td><p class="textswap15"><a href="#"><img style="border:none;position:absolute;left:680px;top:80px" src="images/button.gif" height=10 width=40 /></a></p></td>
    <td><p class="textswap16"><a href="#"><img style="border:none;position:absolute;left:720px;top:80px" src="images/button.gif" height=10 width=120 /></a></p></td>
  </tr>
</table>

  <div
  style="position:absolute;left:150px;top:400px" align="center">
<span id="span1" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300" COLS=25 ROWS=5 WRAP=HARD >c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span2" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span3" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span4" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span5" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span6" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span7" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span8" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span9" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span10" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span11" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span12" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span13" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span14" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
<span id="span15" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</span>
<span id="span16" class="spanflav" style="text-align:center;display: none;font-family:arial;font-size:30px;color:#333300"><a style="color:#C0C0C0">c l i c k &nbsp f o r &nbsp g r e e n &nbsp p r o j e c t &nbsp t e r m s .</a></span>
</div>
  <ul class="menu">




  <script>
  $(".menu a").click(function () {
    $("div#subposition1").delay(800).fadeIn("slow");
  });
  </script>
  
  <script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "10"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "1"}, "fast");
});
</script>