
  <%= render :partial => 'welcome/header' %>
  
<div id="positions">
  <%= render :partial => 'position1' %>
  <%= render :partial => 'position2' %>
  <%= render :partial => 'position3' %>
  <%= render :partial => 'position4' %>
  <%= render :partial => 'position5' %>
  <%= render :partial => 'position6' %>
  <%= render :partial => 'position7' %>
  <%= render :partial => 'position8' %>
  <%= render :partial => 'position9' %>
  <%= render :partial => 'position10' %>
  <%= render :partial => 'position11' %>
  <%= render :partial => 'position12' %>
  <%= render :partial => 'position13' %>
  <%= render :partial => 'position14' %>
  <%= render :partial => 'position15' %>
  <%= render :partial => 'position16' %>
</div>


<div><%= render :partial => 'welcome/side_left' %></div>
<%= render :partial => 'js_stuff' %>