


<%= render :partial => 'cover' %>

  <%= render :partial => 'welcome/header' %>





<%= render :partial => 'js_stuff' %>


<td><%= render :partial => 'terms' %><td>

<div class="header">
    <td><div style="position:absolute;left:-230px;top:520px;font-family:arial" id="tweets">   
      <%= @tweet.description %><br/>
      (<small><%= @tweet.tweeted_at %></small>)</div>
    </td>
    <td><i><a style="position:absolute;left:-80px;top:580px;font-family:arial" href="http://twitter.com/gridlaborate" target="_blank">TWITTER</a></i></td>
    </tr>
</div>