<div id="position14">
  <ul class="menu">
  <li>
    <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap14.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:320px;top:110px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', tu_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>E F F I C I E N C Y &nbsp F I R S T &nbsp ~ &nbsp A M E R I C A ' S &nbsp H O M E &nbsp P E R F O R M A N C E &nbsp W O R K F O R C E</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:780px;top:160px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', root_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>S O L A R &nbsp 3 - D</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:450px;top:100px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>W I N D &nbsp E N E R G Y &nbsp I M P L E M E N T A T I O N</i></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:500px;top:210px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', ar_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>O N - S I T E &nbsp R E N E W A B L E &nbsp E N E R G Y &nbsp G E N E R A T I O N</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:90px;top:260px;width:520px">S T R A T E G Y</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:110px;top:310px;width:130px"><i>4 / 20 / 2011</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:660px;top:480px;color:#333300"><==</p>
  
  <p><%= link_to '<img style="border:none;position:absolute;left:656px;top:96px" src="images/button-st1re.jpg" height=21 width=28 /></img>', root_path %></p>
  
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-5"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>