<div id="position4">

  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap4.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:-180px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    
    <li><%= link_to '<img style="position:absolute;left:520px;top:190px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', ec_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>C O N S T R U C T I O N &nbsp S P E C I F I C A T I O N &nbsp I N S T I T U T E &nbsp G R E E N &nbsp F O R M A T</i></p></em>
    </li>
    
    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:480px;top:110px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rg_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:5px;top:10px;width:850px;color:#333300"><i>A M E R I C A N &nbsp I N S T I T I U T E &nbsp O F &nbsp A R C H I T E C T S &nbsp C O M M I T T E E &nbsp O N &nbsp T H E &nbsp E N V I R O N M E N T</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:180px;top:60px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', ne_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:-25px;top:10px;width:890px;color:#333300"><i>A M E R I C A N &nbsp SOC. OF &nbsp L A N D S C A P E &nbsp A R C H I T E C T S &nbsp S U S T A I N A B L E &nbsp S I T E S &nbsp I N I T I A T I V E</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:150px;top:260px;width:500px">I N N O V A T I O N</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:60px;top:310px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>    
     
  </ul>
  <p style="position:absolute;left:240px;top:480px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:256px;top:92px" src="images/button-m11.jpg" height=21 width=28 /></img>', root_path %></p>

  </div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>