<div id="position4">

  <ul class="menu">

    <li><%= link_to '<img style="position:absolute;left:780px;top:260px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', r_path %>
    <em><p align="center" style="font-size:25px;font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>S M A R T &nbsp I N D U S T R I A L &nbsp P R O D U C T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:520px;top:290px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', ec_path %>
    <em><p align="center" style="font-size:25px;font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>C O N S T R U C T I O N &nbsp S P E C I F I C A T I O N &nbsp I N S T I T U T E </br> G R E E N &nbsp F O R M A T</i></p></em>
    </li>
    
    <li><%= link_to '<img style="position:absolute;left:410px;top:280px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', rg_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:200px;top:115px;width:950px;color:#333300"><i>A M E R I C A N &nbsp I N S T I T I U T E &nbsp O F &nbsp A R C H I T E C T S </br> C O M M I T T E E &nbsp O N &nbsp T H E &nbsp E N V I R O N M E N T</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:180px;top:260px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', ne_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:-55px;top:115px;width:890px;color:#333300"><i>A M E R I C A N &nbsp S O C I E T Y &nbsp O F &nbsp L A N D S C A P E &nbsp A R C H I T E C T S </br><font style="font-size:25px;"> S U S T A I N A B L E &nbsp S I T E S &nbsp I N I T I A T I V E</font></i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:left;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:160px;top:340px;width:500px">I N N O V A T I O N</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:520px;top:360px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>

<p><%= link_to '<img style="display:none;border:none;position:absolute;left:256px;top:125px" src="images/button-s1.jpg" height=21 width=28 /></img>', root_path %></p>

  </div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>