      <a 
      style="position:absolute;left:50px;top:5px;width:400px" target="_blank"><img style="border:none" src="images/iap1.jpg" height=214 width=800 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>

<div><%= render :partial => 'welcome/side_left' %></div>





 
<%= render :partial => 'welcome/js_stuff' %> 


<%= render :partial => 'a/position1' %>

<div><%= link_to '<p style="display:none;font-family:arial;font-size:30px;position:absolute;left:100px;top:120px">login coming soon.</p>', root_path %></div>

<%= render :partial => 'welcome/header' %>


<p><img style="display:none;position:absolute;left:470px;top:175px" src="images/1JPGC.jpg" height=20 width=220 /></p>

  <p style="position:absolute;left:440px;top:480px;color:#333300"><==</p>


 </div>
 <div class="hpage_fill" style="display:none;position:absolute;left:50px;top:5px">
 </div>


<%= render :partial => 'welcome/disclaim' %>