<div id="position5">
  <ul class="menu">

    <li><%= link_to '<img style="position:absolute;left:170px;top:230px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>T R A N S P O R T A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:790px;top:210px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', e_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>E N E R G Y &nbsp I N F R A S T R U C T U R E</i></p></em>
    </li>

    <li><p style="display:none">3 D</p><%= link_to '<img style="position:absolute;left:50px;top:200px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', r_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>E N E R G Y &nbsp S T O R A G E</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:450px;top:270px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', ct_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>B U I L D I N G &nbsp E F F I C I E N C Y</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:-130px;top:340px;width:500px">S Y S T E M S</p>', ec_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:340px;top:360px;width:130px"><i>5 / 4 / 2011</i></p></em>
</li>     
    
  </ul>


<p><%= link_to '<img style="display:none;border:none;position:absolute;left:296px;top:92px" src="images/button-m2a.jpg" height=21 width=28 /></img>', root_path %></p>

</div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>