<%= render :partial => 'welcome/header' %>

      <a 
      style="position:absolute;top:180px;width:400px" target="_blank"><img style="border:none" src="images/iap5.jpg" height=240 width=880 /></a>		

<div><%= render :partial => 'welcome/side_left' %></div>
<%= render :partial => 'welcome/js_stuff' %>


<%= render :partial => 'i/position5' %>

<div><%= link_to '<p style="display:none;font-family:arial;font-size:30px;position:absolute;left:100px;top:120px">login coming soon.</p>', root_path %></div>



<p><img style="display:none;position:absolute;left:470px;top:175px" src="images/1JPGC.jpg" height=20 width=220 /></p>


 </div>
 <div class="hpage_fill" style="display:none;position:absolute;left:50px;top:5px">
 </div>


 



